/* Makes all the HTML elements have a border-box */
* { 
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* Header CSS */
.header-container {
    display: flex;
}
.header-profile-picture {
    margin: 5%; /* Adds spacing between the edges of the website */
    border-radius: 100%;

    width: 40%;
    height: 40%;
}
/**************** DESKTOP VIEW ***********************************/
/* Adds spacing between the name/position from the profile picture */
.header-right-side-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}
/*************** MOBILE VIEW ************************************/
@media only screen and (max-width: 600px) {
    .header-container {
        display: flex;
        flex-direction: column;

        align-items: center;
        text-align: center;
    }
    .header-right-side-container > .name {
        /* for fitting the font on the same row */
        font-size: large;
    }
    .professional-position {
        font-size: medium;
        justify-content: center;
        margin: 0;
    }
    .direct-links {
        font-size: small;
    }
}

.name {
    /* Reduces the vertical line spacing between the position/company */
    margin-bottom: 0;
}
.professional-position {
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: gray;
}