/* Makes all the HTML elements have a border-box */
* { 
    box-sizing: border-box;
}
body {
    margin: 0;
}
/* Header CSS */
.header-container {
    display: flex;
}
.header-profile-picture {
    margin: 5%; /* Adds spacing between the edges of the website */
    border-radius: 100%;
    width: 40%;
    float: left;
}
/* Adds spacing between the name/position from the profile picture */
.header-right-side-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}
.name {
    /* Reduces the line spacing between the position/company */
    margin-bottom: 0;
}

.professional-position-container {
    display: flex;
}
.header-item {
    display: flex;
    margin-top: 0;
}
.position {
    margin-right: 3%;
}
.company {
    margin-left: 3%;
    margin-right: 5%;
}