* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.header {
    display: flex;
}
.header-item{
    padding: 5%;
    text-decoration: none; /* This is to remove any direct link decoration */
}