* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* ******************* HEADER *********************
 * Header with the "Portfolio" text
 * ************************************************/
.header {
    padding: 20px;
    text-align: center;
    
    /* Adds a white header-bar with black text */
    color: black;
    background-color: whitesmoke;
}

/* ************ NAVIGATION BAR ********************
 * Top navigation links right underneath the header
 * ************************************************/
.top-navigation {
    overflow: hidden;
    background-color: black;
}
.top-navigation-link {
    float: left;
    display: block;

    color: white;

    text-align: center;
    padding: 14px 16px;

    text-decoration: none; /* Removes the purple link underscore */
}

/* ************ MAIN COLUMNS/ROWS *****************
 * Contains the various projects to showcase onto
 * the profile.
 * ************************************************/

 .main-column {
    float: left;
    width: 40%;
    padding: 15px;
 }

/* Clear floats after the columns */
 .main-row::after {
    content: "";
    display: table;
    clear: both;
 }

 /* Makes the different projects stack up on
    each other instead of next to each other */
 @media screen and (max-width: 600px) {
    .side-column, .main-column {
        width: 100%;
    }
 }